:root {
    background-color: $color-light-gray;
}

.dashboard-menu a {
    color: $color-dark;
}

.btn, .btn-primary, .btn a {
    background-color: $color-dark-green;
    color: white;

    &:hover {
        background-color: darken($color-highlight, 10%);
    }

    &:active {
        background-color: darken($color-dark-green, 20%) !important;
    }
}

a {
    text-decoration: none;
}

ul {
    margin: auto;
    padding: 0;
}

li {
    list-style: none;
}

.product img {
    width: 100%;
    display: block;
    margin: 10px auto;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.product-details img {
    max-height: 60vh;
    margin: 0 auto;
}

.profiles svg {
    display: block;
    margin: 25px auto;
    color: $color-dark;
}

.bannerImage {
    height: 300px;
    max-height: 40vh;
}

.bannerImage, .profileImage {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.profileImage {
    clip-path: circle();
    display: block;
    height: 17vh;
    margin: auto;
    max-height: 150px;
}