.navbar-brand {
    font-family: $font-family-logo;
    color: $color-light-green;
}

.heading {
    font-family: $font-family-headings;
}

.product-details h4 {
    text-transform: uppercase;
    size: 14px;
}